<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% if title %}
      <title>EcommerceStore- {{ title }}</title>
    {% else %}
      <title>Etsy</title>
    {% endif %}

</head>
<body>
  <!-- Navbar -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-5">
      <ul class="navbar-nav">
              {% if current_user.is_authenticated%}
                {% if current_user.role == "seller" %}
                  <li>
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('products.add_product_details') }}">Add new product</a>
                  </li>
                  <li>
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.setup_store') }}">Setup Store</a>
                  </li>
                {% elif current_user.role == "admin" %}
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.add_category') }}">Add Parent Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.add_subcategory') }}">Add Sub Category </a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.add_variant') }}">Add Variant</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.update_variant') }}">Update Variant</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-outline-secondary bt mb-2 lead" href="{{ url_for('users.update_category') }}">Update Category</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="btn btn-outline-secondary bt mb-2 lead" aria-current="page" href="{{ url_for('users.sign_out') }}">Log Out</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-secondary bt mb-2 lead" aria-current="page" href="{{ url_for('users.past_purchases', user_id=current_user.id) }}">My Past Purchases</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-outline-secondary bt mb-2 lead" aria-current="page" href="{{ url_for('users.sign_in') }}">Sign In</a>
                </li>
              <li class="nav-item">
                  <a class="btn btn-outline-secondary bt mb-2 lead" aria-current="page" href="{{url_for('users.sign_up')}}">Sign Up</a>
              </li>
              {% endif %}
            </ul>
    </div>
  </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class="">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <a class="navbar-brand" href="{{url_for('main.home')}}">Ecommerce Store</a>
            <form action="" class="d-flex p-2">
              <input class="form-control me-3 search-bar" type="search" placeholder="Search for anything">
              <button class="btn search-button button" type="submit">
                <div clas="h1 mb-3">
                  <i class="bi bi-search"></i>
                </div>
              </button>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item h6">
                    <a class="nav-link active ml-5 li" aria-current="page" href="{{ url_for('carts.cart') }}">
                        <i class="bi bi-cart4 li"></i>
                    </a>
                </li>
            </ul>
          </div>
      </nav>
      <ul class="nav nav-pills container">
        {% for i in range(g.length) %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-secondary" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ str(g.categories[i]).title() }}</a>
            <ul class="dropdown-menu">
              {% for child in g.categories[i].parent_category %}
              {% if child != g.categories[i] %}
                <li><a class="li dropdown-item" href="#">{{ str(child).title() }}</a></li>
              {% endif %}
              {% endfor %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="li dropdown-item" href="#">All {{ str(g.categories[i]).title() }}</a></li>
            </ul>
          </li>
        {% endfor %}
      </ul>
      <div style="border-bottom:2px solid rgba(187, 187, 187, 0.5); ;"></div>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      {% block content %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>