{% extends "layout.html"%}
{% block content%}

    <div class="row mt-5">
        <div class="col-2 mt-5 p-2">
            <p class="fw-normal fs-5 d-flex justify-content-center mb-1">About this item</p>
            <ul class="list-group list-group-numbered fw-lighter fs-6 mb-1 ms-3">
                <li class="list-group-item"><span class="fw-normal">Product: </span>{{ product.name.title() }}</li>
                <li class="list-group-item"><span class="fw-normal">Manufacturer: </span>{{ product.manufacturer.title() }}</li>
                <li class="list-group-item"><span class="fw-normal">{{ product.variant.variant_name.title() }}: </span>{{ product.product_variants[0].value.title() }}</li>
                <li class="list-group-item"><span class="fw-normal">Category: </span>{{ product.category.category.title() }}</li>
                <li class="list-group-item"><span class="fw-normal">SKU: </span>{{ product.product_variants[0].sku }}</li>
            </ul>
            <p class="fw-normal fs-5 d-flex justify-content-center mb-1 mt-3">Reviews</p>
            <p class="fw-light fs-3 p-2 d-flex justify-content-center mb-1">{{ product.review_count }}</p>
            <div class="d-flex justify-content-center">
                <i class="h5 bi bi-star-fill"></i>
                <i class="h5 bi bi-star-fill"></i>
                <i class="h5 bi bi-star-fill"></i>
                <i class="h5 bi bi-star-fill"></i>
                <i class="h5 bi bi-star-fill"></i>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <img src="{{ img }}" alt="Not found" class="product-img-thumbnail card img-thumbnail">
                <p class="fw-bold fs-4 d-flex justify-content-center mt-3">Product Details</p>
                <p class="fw-light fs-5">
                    {{ product.product_variants[0].desc }}
                </p>
            </div>
        </div>
        <div class="col-4 mt-2">
            <div class="container ml-5">
                <p class="fw-light fs-5 mb-0">{{ product.seller_products[0].seller.seller_store[0].name.title().replace(" ", "")}}</p>
                <p class="fw-lighter fs-6"> {{ product.sales }} sales</p>
                <p class="fs-4">{{ product.keywords.title() }}</p>
                <p class="mt-3 fs-3 fw-bold mb-0">USD {{ round(product.product_variants[0].price, 2) }}</p>
                <p class="text-muted">In Stock: {{ product.product_variants[0].stock }}</p>
                {% if current_user.role == "seller" and product.seller_products[0].seller.id == current_user.id %}
                    <a class="mt-5 btn btn-secondary btn-lg d-flex justify-content-center" style="border-radius: 1.7rem" href="{{ url_for('products.add_product_details', product_id=product.id) }}">Update</a>
                    <a class="mt-5 btn btn-secondary btn-lg d-flex justify-content-center" style="border-radius: 1.7rem" href="{{ url_for('products.delete_product', product_id=product.id) }}">Delete</a>
                {% else %}
                    <a class="mt-5 btn btn-secondary btn-lg d-flex justify-content-center" style="border-radius: 1.7rem" href="{{ url_for('carts.add_to_cart', product_id=product.id) }}">
                        Add to cart
                     </a>
                {% endif%}
            </div>
        </div>

    </div>

{% endblock content%}